{% extends "base.html" %}

{% block title %}Guides | Knownly Community{% endblock %}
{% block description %}Knownly Community guides{% endblock %}
{% block og_title %}Knownly Guides{% endblock %}
{% block og_description %}Knownly Community guides{% endblock %}

{% block content %}
<h1>Knownly Guides</h1>
  {% for guide in guides %}
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-12 col-sm-6 col-md-3 guide-thumbnails">
      <div class="thumbnail">
        <a href="{% url guide.page.final_url %}"><img src="{% static guide.img_src %}"></a>
        <div class="caption">
          <h3><a href="{% url guide.page.final_url %}">{{ guide.title }} <br /><small>{{ guide.author }}</small></a></h3>
          <p>{{ guide.headline }}</p>
        </div>
      </div>
    </div>
  {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
{% endblock content %}
