html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  font-family: $body-font-family;
  color: $lightest;
  background-color: $dark;
  -webkit-tap-highlight-color: transparentize($lightest, 0.8);
  overflow-y: scroll;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 35px;
  // text-transform: uppercase;
  font-family: $headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
  color: $lightest;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
  color: $lightest;
}

.text-primary {
  color: $primary;
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-primary {
  color: $lightest;
  background-color: $primary;
  border-color: $primary-border;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
  .btn-primary:active, .btn-primary.active,
  .open>.btn-primary.dropdown-toggle {

  color: $lightest;
  background-color: $primary-dark;
  border-color: $primary-dark-border;
}

.btn-default {
  @include button-variant($primary, transparentize(white, 1), $primary);

  &:hover,
  &:focus {
    border: 1px solid $primary-dark-border;
    outline: none;
    color: $primary-dark;
    background-color: $primary;
  }
}

.twitter-follow-button {
  vertical-align:bottom;
}

.badge {
  background-color: $lightest;
}

footer {
  margin-top: 50px;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    p {
      margin: 0;
    }
  }
}

a {
  color: $primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($primary,0.2);
  }
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid transparentize($medium, 0.7);
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $light;
  color: $dark;

  .navbar-brand {
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 0px;

    &:focus {
      outline: none;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  a {
    color: $dark;
  }

  ul.nav {

    li {

      &.active {
        outline: none;
        color: $primary;
        background-color: transparent;
      }

      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover,
        &:focus {
          outline: none;
          color: $primary;
          background-color: transparent;
        }

        &.active {
          outline: none;
          color: $primary;
          background-color: transparent;
        }
      }

      span {
        position: relative;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        line-height: 20px;
      }
    }
  }
}

@media(min-width:$screen-xs-max) {

  .navbar {
    padding: 10px 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    letter-spacing: 1px;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $light;
    border-bottom: 1px solid transparentize($medium, 0.7);
    color: $dark;
    a {
      padding: 0;
      color: $dark;
      img {
        margin-top: 0px;
      }
    }
  }

  p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.6;
    color: $dark;
  }

}

.content {
  padding: 80px 0;
}

.panel-default {
  border-color: $medium;
  background-color: $dark;
  color: $lightest;

  .panel-heading {
    background-color: $medium;
    color: $lightest;
    font-size: 18px;
  }

  p {
    color: $lightest;
  }
}

.well {
  color: $lightest;
  font-weight: 500;
  background-color: $dark;
}


@media (min-width: 768px) {
  body {
    background-image: url("/static/img/patterns/cubes.png");
    color: $dark;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: $dark;
  }

  p {
    color: $dark;
  }

  .lead {
    color: $dark;
  }
}
