@import "/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "/bower_components/font-awesome/scss/font-awesome.scss";

$primary: #27A9E1 !default;
$primary-border: #278AE1 !default;

$primary-dark: #2752E1 !default;
$primary-dark-border: #133EE1 !default;

$dark: #030303 !default;
$medium: #333 !default;
$light: #F4F4F4 !default;
$lightest: #FDFDFD !default;

$body-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

@import "/static/css/_base";
@import "/static/css/pages/_index";
