title: Making a NowNowNow page
author: Dwight Gunning
date: 25-01-2016
headline: Share the things that you're focused on right now
img_src: guides/nownownow/img/nownownow.jpg
img_attr: <a href="https://www.nownownow.com">nownownow.com</a></em>

{% extends "guide.html" %}

{% block css_head %}
  {{ block.super }}
  <link href="{% static '/css/zenburn.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% filter markdown:"fenced-code-blocks" %}
_Now pages_ are a neat initiative started by [Greg Albritton](http://gregalbritton.com/now) and [Derek Sivers](https://sivers.org/now). They are a simple variation on the ubiquitous 'about' and 'contact' pages you see all over the web. The point of the 'now' page is to share what you're focused on right now, at this stage of your life.

For more of back-story and aims of the project, feel free to jump over to [nownownow.com](http://www.nownownow.com).

This guide is written for folks who've never created a webpage from scratch but are keen to do so. It's just five simple steps that will take roughly fifteen minutes.

_If you're already up and running with Knownly, feel free to skip to [Step 4](#now-page-template) and grab our 'now' page template._

## 1. Sign up and install Dropbox

First up you'll need to sign up for a Dropbox account and install the app. This will allow you to work on your website on your laptop, or PC, and the Dropbox app will take care of sending your files up to the cloud. With your website files in the Dropbox cloud, Knownly can access them and make them accessible as a website.

Just head over to [Dropbox](https://www.dropbox.com) to register.

After you have your Dropbox account, you'll want to install the Dropbox app on your laptop or PC. The [instructions](https://www.dropbox.com/install) should show up immediately after you register.

## 2. Register with Knownly

Knownly registration is simple. All you'll be asked to do is to grant the Knownly service permission to setup a new area within your Dropbox. This is where you can create a website folder that will hold your _now_ page.

Once you've authorized Dropbox, the final step is to select your Knownly plan. Now you're up and running!

<a href="https://www.knownly.net/signup" target="_blank">Go for it</a>!

## 3. Create a Knownly Website

After you've got your Knownly account, you'll be shown the Knownly Console where you can manage your websites. It's time to create your website.

That's just a matter of deciding what domain you'd like to use, and the submitting it via the form in the Knownly console:

![Create website form]({% static '/guides/nownownow/img/create_knownly_website.png' %} "Knownly Console")

Shortly after receiving confirmation in the Knownly console that your website has been created, a new folder for your website will be created within your Dropbox folder on your machine. Inside you'll see a placeholder file called "index.html".

![Dropbox Recent Changes shows 'index.html']({% static '/guides/nownownow/img/dropbox_recent_changes.png' %} "Dropbox Recent Changes")

You can type your chosen website domain into your web browser and this HTML page will be displayed. Congratulations on getting the first page of your website online!

## <a name="now-page-template"></a>4. Add the 'now' page template

Following the 'now' page convention, we need to create a page that will be accessible from a url that looks like: _http://mysite.knownly.net____/now/___

Knownly sites, like many websites, treat URLs that end in a '/' as a shorthand for the 'index.html' file in the corresponding sub-directory. Whenever visitors use a URL that ends in '/', Knownly will serve up the file named 'index.html' in that directory.

First, create a sub-folder named 'now' within your Knownly website folder. It should sit along side the placeholder 'index.html' that was automatically generated for the website. Then, inside the 'now' folder create a new file called index.html.

!['now' sub-directory and index.html ]({% static '/guides/nownownow/img/now_page_folder_structure.png' %} "Website structure")


Copy the following HTML template into the 'index.html' file and fill in the blanks.


```html
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>My current status</h1>
    <h2>Where am I now?</h2>
      <p>...</p>
    <h2>What am I reading?</h2>
      <p>...</p>
    <h2>What am I working on?</h2>
      <p>...</p>
    <h2>What do I look like?</h2>
      <img src="me.png" alt="A photo of me">
    <h2>What am I planning?</h2>
      <p>...</p>
    <hr>
    <p><em>Last updated:</em> ...</p>
  </body>
</html>
```

Check that you can view your new 'now' page at: _http://mysite.knownly.net/now/_

From there, styling your 'now' page with CSS is the logical next step. That's a topic worthy of a separate guide (several guides in fact). Right now, the best place to learn CSS is Codecademy's [HTML & CSS course](https://www.codecademy.com/en/tracks/htmlcss). Be sure to check it out some time.

## 5. Submit your 'now' page to the listing

To have your 'now' page listed, just follow the [simple instructions](http://nownownow.com/about#hownow):

> If you already have your own website with a /now page on it, as described and defined above, just email the URL to me at <derek@sivers.org>. After you do, I’ll email you back with a link to log in and answer a few questions, which, when done, will create a profile page for you.

Don't forget to spread the word on Facebook, Twitter and emailing your friends!

## Wrapping up

Now that you're all done, follow [nownownow on Twitter](https://twitter.com/nownownow) and keep an eye out for your profile to appear.

{% endfilter %}
{% endblock %}
