title: Twitter Timelines
author: Dwight Gunning
date: 04-08-2015
headline: Always fresh content and an easy way to interact
img_src: guides/twitter-timelines/img/twitter_logo.png
img_attr: <a href="https://www.twitter.com">Twitter</a></em>

{% extends "guide.html" %}

{% block css_head %}
  {{ block.super }}
  <link href="{% static '/css/zenburn.css' %}" rel="stylesheet">
  <link href="{% static '/guides/twitter-timelines/css/styles.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
{% filter markdown:"fenced-code-blocks" %}
Twitter timelines are a great way to keep your website fresh with regularly changing content. In addition, Twitter's Javascript widgets include a "Tweet" button that encourages visitors to contact you or tweet about your website.

This guide will take you through the steps to embed and style a Twitter Widget within a static webpage.

## Step 1: Decide what sort of timeline to add your site

The obvious and most common approach is to embed your own personal Twitter timeline. What's not so well-known is that it's actually possible to embed other timelines that contain Likes, Lists, Searches, or to embed a [Collection](https://dev.twitter.com/rest/collections).

So first up, you'll want to decide what type of timeline you're going to embed. There are a few choices:

1. Users
2. Likes
3. Lists
4. Searches
5. Collections

__User__ timelines include recent tweets from a specific account. It's fairly common to embed your own Twitter account in order to show visitors what you're thinking about, what you've been sharing and who you've been engaging with.

The __Likes__ timeline combines all the tweets that have liked by an account. This can be useful for business / professional accounts where your likes are a little more targetted towards a specific topic that matches your website.

If you're a __lists__ user, you can use this feature to group specific users together into a custom timeline. They're often useful for focussing attention on a specific topic or cause. That helps if your regular timeline is too broad or busy with lots of tweets.

__Search__ timelines are also super interesting since they allow you you to combine search operators like 'and', 'or', 'not' along with # and @ tags.

The last type of timeline is slightly different. __Collections__ are groups of tweets that you specifically choose. They're the only type of Timeline that won't change with out a direct change to the collection itself. Collections can be great for showing off testamonials from other users or showcasing some particularly interesting tweets about you or the topic of your website.

## Step 2: Configure and generate your JavaScript snippet

Twitter has a super simple tool for configuring and generating the Javascript snippet that you will embed within your webpage.

Head to Twitter to [create your timeline snippet](https://dev.twitter.com/web/embedded-timelines). 

## Step 3: Copy the snippet into your web page

Including your newly created Twitter timeline is simply a matter of copying and pasting the couple of lines of code generated by Twitter into the spot in your HTML page where you'd like to see the timeline appear.

To simply the custom styling that we'll add in Step 4, it's a good idea to nest the Twitter timeline snippet inside a ___div___ element that can be selected by a class name "twitter-wrapper".

There's an example below and you can view the source of this website to see how it's sitting inside the page.

```html
<div class="twitter-wrapper">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/DwightGunning" data-widget-id="694047821440241665">Tweets by @DwightGunning</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
```

{% endfilter %}

{% filter markdown:"fenced-code-blocks" %}

Note that the snippet actually includes two HTML elements. The first is an _anchor_ tag, with the class 'twitter-timeline', which will be replaced by the timeline widget when the site loads. The following _script_ tag is a fragment of Javascript that injects the timeline into the page.

After you've done that, it's a good time to take a look at your page in a browser. Check that the timeline is showing up and the "tweet" button is functional. It should look something like this:

<div class="twitter-timeline-wrapper">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/DwightGunning" data-widget-id="694047821440241665">Tweets by @DwightGunning</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

## Step 4: Apply some custom styling to your widget

As the Twitter timeline snippet embeds an _iframe_ into the page, there isn't too much that can be done to style the widget itself.

That said, we can at least use the wrapper _div_ we created earlier to get the timeline centered within the parent element:


```css
.twitter-timeline-wrapper {
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
}
```

## Wraping up

As you've now seen it's quite straight forward to embed a neat little Twitter Timeline into your very own webpage. It's even possible to include multiple timelines so you include your own tweets along with a topic focussed list or hashtag search.

Experiment and you'll be sure to come up with something great!

{% endfilter markdown %}
{% endblock body %}
