a, 
#title,
#guides-list a:hover,
#guides-list li:hover .dates,
#title:hover {
  text-decoration: none; 
  color: $primary-dark;
}

p {
  color: $dark;
}

p a {
  color: $primary;
}

b, strong { font-weight: bold; }
em, i { font-style: italic; }

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 10px;
  color: $primary;
}

.description {
  float: right;
  font-style: italic;
  font-size: 14px;
  color: #aaa;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: $primary;
  font-weight: bold;
}

h2 {
  font-style: italic;
  font-size: 19px;
  color: $medium;
}

.guides h1 {
  margin-bottom: 10px;
}

.guides h2 {
  margin-bottom:2 0px;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
}

.guides h2.headline {
  font-style: italic;
  font-size: 16px;
  color: $medium;
  margin: -5px 0 40px 0;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 500; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

.guides {
  p {
    font-size: 17px;
    line-height:1.9;
    letter-spacing: .125em;
    margin-bottom: 25px;
  }

  p.small { 
    color: #bbb; 
    font-size: 14px; 
    line-height: 1.5; 
    display: block;
  }

  blockquote { 
    padding-left: 15px; 
    border-left: 3px solid #eee; 
  }

  hr {
    display: block;
    border: none;
    height: 3px;
    margin: 40px auto;
    background: #f4f4f4;
  }

  span.code {
    font-family:Menlo, Monaco, Courier;
    background-color:#EEE;
    font-size:14px;
  }

  ul {
    margin-bottom: 25px;
    padding:0;
  }
  li {
    font-size: 17px;
    line-height:1.9;
    letter-spacing: .125em;
    margin-left: 20px;
    list-style-type:circle;
    list-style-position:inside;
  }

  pre { 
    font-family:Menlo, Monaco, Courier; 
    white-space:pre-wrap; 
    border: 1px solid #ddd; 
    padding:20px; 
    background-color:#fdfdfd; 
    font-size:14px; 
    overflow:auto; 
    border-radius: 3px;
  }

  table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5em; 
  }

  th,td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
  }

  table td,td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;  
  }

  tr>td {
    border-top: 1px solid #eaeaea;
  }

  tr:nth-child(odd)>td {
    background: #fcfcfc;
  }

  thead th,th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    border-bottom: 1px solid #dadadc;
    cursor: default;
    white-space: nowrap;
  }

}

.guide-thumbnails {

  .thumbnail {
    min-height: 325px;
    
    .caption h3 {
      min-height: 70px;
    }
  }

}