.lead {
  margin-bottom: 45px;
}

.card {
  padding: 20px;
}

.fa {
  color: $dark;
}

.thumbnail {
  padding: 20px;

  .caption {
    padding: 0px;
    .caption-body p {
      min-height: 75px;
    }
  }
}