title: Post one
author: Dwight Gunning
date: 15-07-2015
headline: The Knownly Community takes shape

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
This is the very first blog post at Knownly and marks the beginning of the Knownly Community.

Knownly has been humming away for over 18 months now. All along it's been a reliable home to a handful of well visited websites. During this time it's proven great for creating personal bios, blogs, product landing pages, teasers and mailing list signup forms.

The possibilities are kind of endless.

Now that Knownly is finally out there for anybody to use, it makes sense to create place where everybody can gather and collaborate. The Knownly Community is that place.

It's here that everybody from beginners and experts can help each other realise their goals for publishing and promoting their website. It's also a great chance to teach, share, and to develop skills that will take them further.

The hope is that within the community people will:

 - find out about about modern web design techniques
 - get design advice and feedback
 - learn a little HTML, CSS and Javascript
 - practice creating effective website copy 
 - try out new tactics for growth and conversion
 
That's just the beginning.

 As this is just kicking off the site is still quite bare. There is lots to do but thanks to the simplicity and flexibility of Knownly, you can expect regular updates to the site. Most importantly, if you have anything to contribute please don't hesitate.

{% endfilter %}
{% endblock body %}
