{% extends "base.html" %}

{% block title %}Blog | Knownly Community{% endblock %}
{% block description %}Knownly Community blog{% endblock %}
{% block og_title %}Knownly Blog{% endblock %}
{% block og_description %}Knownly Community blog{% endblock %}

{% block content %}
  <div id="blog" class="container content">
    <div class="div col-md-6 col-md-offset-3">
      <h1>Knownly Blog</h1>
      <ul class="post-list">
        {% for post in posts %}
          <li>
            <a href='{{ post.path }}'><aside class="dates">{{ post.date|date:"M j" }}</aside></a>
            <a href='{{ post.path }}'>{{ post.title }} <h2>{{ post.headline }}</h2></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
