<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://www.knownly.net/community{% current_page %}" />
    <meta name="description" content="{% block description %}Knownly. Turn a Dropbox folder into a website. Make it known.{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>

    {% block css_head %}
      <link href="{% static 'css/simple.css' %}" rel="stylesheet">
    {% endblock %}

    {% block js_head %}
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>

  <body {% block body_attrs %}{% endblock %}>
    {% include "navbar.html" %}
    
    {% block content %}{% endblock %}

    <footer>
      <div class="footer">
        <div class="container text-center">
          <p class="small">Handmade in Amsterdam. Copyright &copy; Knownly 2015.</p>
        </div>
      </div>
    </footer>
    
    {% block js_footer %}
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="{% static '/js/scrolling.js' %}"></script>
    {% endblock %}
  </body>
</html>
