{% extends "base.html" %}

{% block title %}{{ title }} | Guides | Knownly Community{% endblock %}
{% block description %}{{ headline }}{% endblock %}
{% block author %}{{ author }}{% endblock %}
{% block og_title %}{{ title }}{% endblock %}
{% block og_description %}{{ headline }}{% endblock %}
{% block og-image %}<meta property="og:image" content="{% static img_src %}" />{% endblock %}

{% block content %}
<div class="div col-md-8 col-md-offset-2">
  <div class="well">
    <header id="header">
      <a id="title" href="{% url '/guides/' %}">Knownly guides</a>
    </header>

    <article>
      <header>
        <h1>{{ title }}</h1>
        <h2 class="headline">{{ headline }} </h2>
      </header>
      <section>
        <div class="thumbnail article-thumbnail">
          <img src="{% static img_src %}" />
          <div class="caption text-right">{{ img_attr|safe }}</div>
        </div>
        {% block body %}
          This is where the guides contents is.
        {% endblock body %}
      </section>

      <div id="article-meta" class="clearfix">
        <div class="details">
          <span>Published on </span> {{ date|date }}
        </div>
        <div class="details">
          <span>Written by</span> {{ author }}
        </div>
        <div class="sharing">
          <a class="twitter" href="https://twitter.com/share" target="blank"><span class="fa fa-2x fa-twitter"></span></a>
          <a class="facebook" href="#" onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                'facebook-share-dialog',
                'width=626,height=436');
              return false;"><span class="fa fa-2x fa-facebook"></span>
          </a>
        </div>
      </div>
      <div class="alert alert-info">Keen to try out what you've learned? Sign up to <strong><a href="https://www.knownly.net/signup/">Knownly for free</a></strong> and give it a shot!</div>
    </article>
  </div>
</div>
{% endblock content %}
