{% load static %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="http://www.knownly.net">
        <span class="light">Knownly</span>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a> <!-- removes .active on first li when scrolling -->
        </li>
        <li>
          <a href="{% url '/' %}">Community:</a>
        </li>
        <li>
          <a href="{% url '/blog/' %}">Blog</a>
        </li>
        <li>
          <a href="{% url '/learn/' %}">Learn</a>
        </li>
        <li>
          <a href="{% url '/gallery/' %}">Gallery</a>
        </li>
        <li>
          <a href="{% url '/support/' %}">Support</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
