{% extends "base.html" %}

{% block title %}{{ title }} | Blog | Knownly Community{% endblock %}
{% block description %}{{ headline }}{% endblock %}
{% block author %}{{ author }}{% endblock %}
{% block og_title %}{{ title }}{% endblock %}
{% block og_description %}{{ headline }}{% endblock %}

{% block content %}
<div class="div col-md-8 col-md-offset-2">
	<div class="well">
		<header id="header">
			<a id="title" href="{% url '/blog/' %}">Knownly Blog</a>
		</header>

		<article>
			<header>
				<h1>{{ title }}</h1>
				<h2 class="headline">{{ headline }} </h2>
			</header>
			<section>
				<div class="thumbnail article-thumbnail">
					<img src="{% static img_src %}" />
					<div class="caption text-right">{{ img_attr|safe }}</div>
				</div>
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
			
			<div id="article-meta" class="clearfix">
				<div class="details">
					<span>Posted on </span> {{ date|date }}
				</div>
				<div class="details">
					<span>Written by</span> {{ author }}
				</div>
				<div class="sharing">
					<a class="twitter" href="https://twitter.com/share" target="blank">
						<span class="fa fa-2x fa-twitter"></span>
					</a>
					<a class="facebook" href="#" 
						onclick="
							window.open(
								'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
								'facebook-share-dialog', 
								'width=626,height=436'); 
							return false;"><span class="fa fa-2x fa-facebook"></span> 
					</a>
				</div> 
			</div> 
		</article>

		<div class="blog-footer">
			<nav id="post-nav">
				<span class="prev">
					{% if prevPost %}
						<a href='{% url prevPost.page.final_url %}'>
							<span class="arrow">&larr;</span> {{ prevPost.title }}
						</a>
					{% endif %}
				</span>
				

				<span class="next">
					{% if nextPost %}
						<a href='{% url nextPost.page.final_url %}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>

			<div id="disqus_thread"></div>

		</div>
	</div>

</div>

{% endblock content %}

{% block js_footer %}
  <script>
    var disqus_config = function () {
      this.page.url = '{% url page.final_url %}';
      this.page.identifier = '{{ page.path }}';
      this.page.title = 'Knownly Community Blog: {{ title }}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//{{ DISQUS_SHORTNAME }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {{ block.super }}
{% endblock %}
